<nb-card class="card" >
  <nb-card-header class="slot">
    <div class="space space-component background-transparent">
      <nb-select placeholder="Please Select a Sensor Type" size="medium" status="primary">    
          <nb-option value="Temperature">Temperature</nb-option>    
          <nb-option value="Temp, Press, Hum">Temp, Press, Hum</nb-option>    
          <nb-option value="Light">Light</nb-option>    
          <nb-option value="Noise">Noise</nb-option>
      </nb-select>
      <button nbButton class="right" size="medium" appearance="filled" status="primary">
          Generate Hex File
          <nb-icon icon="download"></nb-icon>
      </button>
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <div class="space space-component1 background-transparent">
      <input nbInput placeholder="Enter Gateway being connected to" fieldSize="medium" type="text" shape="rectangle" status="basic" fullWidth>
    </div>
  </nb-card-body>

  <nb-card-footer class="slot">
    <div class="space space-component1 background-transparent">
      
    </div>
  </nb-card-footer>
</nb-card>